* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}
.btn-inicio {
    align-items: right;
}
.box {
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    margin: 20px;
    border-radius: 20px;
    padding-top: 10px;
    padding: 10px;
}

.espaco-box {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.title {
    margin-bottom: 25px;
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    margin: 20px;
    background-color: 	#CBC3E3;
    padding: 20px;
    width: 450px;
    height: 250px;
    border-radius: 25px;
    text-align: left;
}
.chip {
    width: 50px;
    height: 40px;
    margin-top: 40px;
    margin-left: 30px;
}
.card bold {
  font-weight: 600;
  display: block; 
  text-align: right;
  font-size: 20px;
}
.card p {
    margin-top: 15px;
    font-size: 20px;
    margin-left: 30px;
}
.card h3 {
    margin-left: 30px;
    margin-top: 25px;
}
.master {
    mix-blend-mode: multiply;
    width: 100px;
    height: 60px;
    
}

.fatura {
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;
}
.disponivel {
    margin-left: 200px;
    margin-top: 30px;
    opacity: 0.6;
    font-size: 20px;
}
.disponivel h6 {
    font-size: 20px;
    margin-top: 10px;
}
.fatura-atual {
    margin-top: 30px;
}
.fatura-atual h4{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}
.fatura-atual p {
    opacity: 0.6;
    font-size: 20px;
}
.btn-pagamento {
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
    opacity: 0.6;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: #CBC3E3;;
}

.card-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 16px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.action-item .icon {
  font-size: 22px;
}

.action-item span {
  font-size: 14px;
  color: #333;
}