
body { 
    background-color: #CBC3E3;
}
.box {
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    background-color: #ffffff;
}

.titulo {
    display: flex;
    color: #bbb2d4;
    margin: 20px;
    margin-top: 20px;
}
.sub {
    display: flex;
    justify-content: center;
    text-align: center;
}
.menu {
    display: flex;
    justify-content: right;
    text-align: right;
    position: absolute; 
    top: 30px; 
    right: 35px;
    margin: 20px;
    font-size: 40px;
    cursor: pointer;
}
h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
}

p h1{
    margin: 10%;
}

ol {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    margin: 20px;
    padding: 20px;
    margin: 5%;
    background-color: #bbb2d4;
    border-radius: 12px;
    cursor: pointer;
}